In [1030]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats

# 資料前處理

## 讀取資料

In [1031]:
train_dataset = pd.read_csv('./data/train.csv', index_col=0)
test_X = pd.read_csv('./data/X_test.csv', index_col=0)

In [1032]:
train_dataset.head()

,txkey,locdt,loctm,chid,cano,contp,etymd,mchno,acqic,mcc,...,stocn,scity,stscd,ovrlt,flbmk,hcefg,csmcu,csmam,flg_3dsmk,label
0,7d06d43ab29126e36275a436c832f4d15a1068b8d776fc...,48.0,145754.0,f5af026e3d89b440eeccf60ffa21e8fab9e2fdc8801806...,NaN,5.0,NaN,b750b40fea3e5e43b652787201345c6e48152c6806f98d...,2a608b081c09492bd2bc96d7def5371c4bc9cabf324a98...,315.0,...,0.0,11503.0,NaN,NaN,0.0,6.0,70.0,509.085139,0.0,0
1,68dc55fb053b47c06dd29fd01781a6224622478367b8d1...,11.0,150204.0,f23d2d1b2f1e296c31e0df919a55e0e89d7ebd6388fb9c...,1bcf0ba278157b49745d4567b0ba96be4c870a76879b50...,5.0,4.0,03893a476a17b5cfcc9d0b841b88deadd3d782d9ea2d48...,NaN,288.0,...,NaN,11433.0,NaN,0.0,NaN,6.0,70.0,NaN,NaN,0
2,279263fc8865e14609db2f519ddd052283ed85a1fdb1dc...,10.0,83313.0,NaN,NaN,NaN,1.0,1397eebe3f206e4570047bd35ad0a4ae5876bcee3d8777...,bfbb5ca8870e18f9ce4ebf53a3908f71261c8221b85734...,275.0,...,NaN,15759.0,NaN,0.0,0.0,6.0,70.0,2580.086410,0.0,0
3,d8f400df061e8d4ff40453d517dc4036f1eb7f28fe89ee...,52.0,123220.0,d6f9cfbb5409f3d2ff9289281cea9b6bd973c0e12135b7...,NaN,NaN,8.0,d73d0446c13d150b8117a0bbd486f01abe15ef18e88ff3...,379166ff4a62dac343b4b734188aa618716cc496e48b65...,282.0,...,0.0,NaN,NaN,0.0,0.0,6.0,70.0,152.044053,0.0,0
4,489331e11fe3daae734c28160d5f39638441998723a8b6...,16.0,142340.0,2ad812e6a58c600ebb96192baaced1633517cf37e881ed...,049a1d8d173204f285efe1ef19b2bbcb090b2b777e29e1...,5.0,5.0,f04f4d0556d851333cb69e2995ad673f11a7f3acd787e1...,379166ff4a62dac343b4b734188aa618716cc496e48b65...,275.0,...,0.0,15759.0,NaN,0.0,0.0,6.0,70.0,1793.200087,0.0,0

In [1033]:
test_X.head()

,txkey,locdt,loctm,chid,cano,contp,etymd,mchno,acqic,mcc,...,flam1,stocn,scity,stscd,ovrlt,flbmk,hcefg,csmcu,csmam,flg_3dsmk
0,f3e8f070d3706fd8283cf407528e7c29d877052ac2c0d7...,56.0,NaN,3233a816a88afeeec361f4c25d51963fdbee018f8524bb...,6022236097bfad74e6e2ede83b792b7bf99f9097158e3e...,5.0,5.0,cc519c93a036e7d461640f8e85affc1112e8dd5774426b...,NaN,406.0,...,18.867938,NaN,15759.0,NaN,0.0,0.0,6.0,70.0,-329.356052,0
1,c863a3a3b49d489274c570a1a468245c914466f4549433...,59.0,50236.0,243110d53e4f1351a7e062fb05a2318592a5ea0583bdea...,NaN,5.0,8.0,69709838f1848ae27b80c6615c516e23b84aebd1eaa7ce...,f2c487098d95cf4d74628e9a2a1cffc7beee347c46e19f...,324.0,...,271.569272,40.0,16490.0,1.0,0.0,0.0,NaN,29.0,84.482536,0
2,5ff4683b5d517fd087f9fe3653d08e6fa8365129f0d9f0...,59.0,4104.0,f8d9f6c50c2d2ff73112ab094f75e53b14118ac77ce7b7...,NaN,5.0,8.0,45b6cb170af96950ffd009b6275bb22f5f5b052687d237...,c6a68a6677409cd8b8e909a2b2766ed5f26668e9862631...,326.0,...,981.086027,NaN,10300.0,NaN,NaN,NaN,6.0,NaN,1530.061345,0
3,b799904c9eb8e3a6249fce84da5f745a751bc4bcefb321...,59.0,101305.0,5525e5ff3373de116e5f7f9912d391fdaf4261fa6b4bea...,NaN,NaN,1.0,4d7ccd00c86844f54a3db3fbc2b9b6d594e33102996485...,NaN,375.0,...,308.609408,0.0,15759.0,NaN,0.0,0.0,6.0,70.0,54.312320,0
4,054f1506347491470cb95d5be52153ad6c12ff1c533dce...,59.0,103356.0,0e6e8a0680405bcca222fee6d6a1c41197754676495d51...,e1176e84da0a0f5ef4f9934c12313127ba0860c17f4e7f...,5.0,NaN,9f42eb2f5d964a1e34a7ea611f111145559463e9759833...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN,...,21.354908,126.0,NaN,NaN,0.0,0.0,0.0,NaN,48.464017,0

## 資料描述

In [1034]:
train_dataset.dtypes

txkey         object
locdt        float64
loctm        float64
chid          object
cano          object
contp        float64
etymd        float64
mchno         object
acqic         object
mcc          float64
conam        float64
ecfg         float64
insfg        float64
iterm        float64
bnsfg        float64
flam1        float64
stocn        float64
scity        float64
stscd        float64
ovrlt        float64
flbmk        float64
hcefg        float64
csmcu        float64
csmam        float64
flg_3dsmk    float64
label          int64
dtype: object

In [1035]:
train_dataset.describe()

,locdt,loctm,contp,etymd,mcc,conam,ecfg,insfg,iterm,bnsfg,...,stocn,scity,stscd,ovrlt,flbmk,hcefg,csmcu,csmam,flg_3dsmk,label
count,9357.000000,9325.000000,9350.000000,9063.000000,9401.000000,9351.000000,9369.000000,9380.000000,9286.000000,9373.000000,...,9353.000000,9062.000000,289.000000,9288.000000,9287.000000,9059.000000,8848.000000,9.257000e+03,9328.000000,11000.000000
mean,27.192262,142135.754424,4.913904,4.764206,318.483566,1946.711571,0.598890,0.008635,0.051368,0.000640,...,15.397092,13923.186272,0.993080,0.011413,0.000108,5.364058,69.314534,3.009391e+03,0.079331,0.090909
std,16.200160,55741.428498,0.445043,2.317044,68.692930,10800.778983,0.490149,0.092530,0.665683,0.025294,...,37.358011,3412.455947,0.083044,0.106224,0.010377,1.861254,6.247773,3.404645e+04,0.270269,0.287493
min,0.000000,16.000000,2.000000,0.000000,0.000000,-566.104082,0.000000,0.000000,0.000000,0.000000,...,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-7.057447e+02,0.000000,0.000000
25%,13.000000,103513.000000,5.000000,4.000000,276.000000,213.927192,0.000000,0.000000,0.000000,0.000000,...,0.000000,13091.000000,1.000000,0.000000,0.000000,6.000000,70.000000,1.927065e+02,0.000000,0.000000
50%,27.000000,145253.000000,5.000000,5.000000,309.000000,492.973222,1.000000,0.000000,0.000000,0.000000,...,0.000000,15759.000000,1.000000,0.000000,0.000000,6.000000,70.000000,4.627648e+02,0.000000,0.000000
75%,41.000000,184940.000000,5.000000,8.000000,326.000000,1130.811245,1.000000,0.000000,0.000000,0.000000,...,0.000000,15759.000000,1.000000,0.000000,0.000000,6.000000,70.000000,1.135929e+03,0.000000,0.000000
max,55.000000,235959.000000,6.000000,9.000000,501.000000,578267.806691,1.000000,1.000000,30.000000,1.000000,...,134.000000,17329.000000,1.000000,1.000000,1.000000,10.000000,84.000000,2.199204e+06,1.000000,1.000000

In [1036]:
test_X.describe()

,locdt,loctm,contp,etymd,mcc,conam,ecfg,insfg,iterm,bnsfg,flam1,stocn,scity,stscd,ovrlt,flbmk,hcefg,csmcu,csmam,flg_3dsmk
count,1796.000000,1786.000000,1748.000000,1738.000000,1764.000000,1.819000e+03,1759.000000,1797.000000,1802.000000,1813.000000,1.763000e+03,1776.000000,1747.000000,189.0,1798.000000,1790.0,1729.000000,1715.000000,1.793000e+03,2100.000000
mean,57.481626,139835.094625,4.911899,4.984465,323.407596,4.080605e+03,0.711200,0.006121,0.029967,0.001655,4.164591e+03,37.733108,13176.935318,1.0,0.012792,0.0,5.426836,68.546939,1.809625e+04,0.074762
std,1.102641,62740.270607,0.411923,2.458473,64.887607,6.083451e+04,0.453334,0.078021,0.434737,0.040656,6.189252e+04,50.812162,3794.743087,0.0,0.112407,0.0,1.756436,8.357913,3.436252e+05,0.263069
min,56.000000,11.000000,2.000000,0.000000,11.000000,-4.522303e+02,0.000000,0.000000,0.000000,0.000000,-4.846197e+02,0.000000,9.000000,1.0,0.000000,0.0,0.000000,0.000000,-4.915870e+02,0.000000
25%,57.000000,95060.250000,5.000000,4.000000,276.000000,2.087582e+02,0.000000,0.000000,0.000000,0.000000,1.990859e+02,0.000000,10300.000000,1.0,0.000000,0.0,6.000000,70.000000,1.772939e+02,0.000000
50%,57.000000,150162.500000,5.000000,5.000000,320.000000,5.520131e+02,1.000000,0.000000,0.000000,0.000000,5.522188e+02,0.000000,15759.000000,1.0,0.000000,0.0,6.000000,70.000000,4.512208e+02,0.000000
75%,58.000000,192498.250000,5.000000,8.000000,351.000000,1.528510e+03,1.000000,0.000000,0.000000,0.000000,1.521079e+03,61.000000,15759.000000,1.0,0.000000,0.0,6.000000,70.000000,1.431343e+03,0.000000
max,59.000000,235955.000000,6.000000,9.000000,499.000000,2.556027e+06,1.000000,1.000000,12.000000,1.000000,2.560901e+06,126.000000,17329.000000,1.0,1.000000,0.0,9.000000,84.000000,9.655214e+06,1.000000

In [1037]:
# 自動識別非數值特徵
non_numeric_columns = train_dataset.select_dtypes(exclude=['number']).columns

# 移除非數值特徵
train_dataset_filtered = train_dataset.drop(columns=non_numeric_columns)

# 計算所有特徵與 label 的相關性
correlation_matrix = train_dataset_filtered.corr()

# 提取與 label 的相關性
label_correlation = correlation_matrix['label'].drop('label')

# 對相關性進行排序
sorted_correlation = label_correlation.abs().sort_values(ascending=False)

# 顯示排序後的相關性
print(sorted_correlation)

stocn        0.593136
scity        0.336899
stscd        0.240330
csmcu        0.202155
ecfg         0.171835
flam1        0.120695
conam        0.118993
mcc          0.074094
etymd        0.070617
flg_3dsmk    0.065416
ovrlt        0.063301
loctm        0.060668
hcefg        0.059590
csmam        0.043348
insfg        0.029233
iterm        0.024448
contp        0.018579
bnsfg        0.008024
locdt        0.005874
flbmk        0.003328
Name: label, dtype: float64

## 資料補全

### 觀察資料缺失情況

In [1038]:
train_dataset.isnull().sum()

txkey         1683
locdt         1643
loctm         1675
chid          1654
cano          1710
contp         1650
etymd         1937
mchno         1658
acqic         1672
mcc           1599
conam         1649
ecfg          1631
insfg         1620
iterm         1714
bnsfg         1627
flam1         1594
stocn         1647
scity         1938
stscd        10711
ovrlt         1712
flbmk         1713
hcefg         1941
csmcu         2152
csmam         1743
flg_3dsmk     1672
label            0
dtype: int64

In [1039]:
test_X.isnull().sum()

txkey         343
locdt         304
loctm         314
chid          311
cano          302
contp         352
etymd         362
mchno         324
acqic         330
mcc           336
conam         281
ecfg          341
insfg         303
iterm         298
bnsfg         287
flam1         337
stocn         324
scity         353
stscd        1911
ovrlt         302
flbmk         310
hcefg         371
csmcu         385
csmam         307
flg_3dsmk       0
dtype: int64

In [1040]:
train_dataset['label'].value_counts()

label
0    10000
1     1000
Name: count, dtype: int64

### 補值，數值型用中位數；物件型用眾數補

In [1041]:
# 定義類別型態的欄位名稱
categorical_columns = [
    'txkey', 'chid', 'cano', 'contp', 'etymd', 'mchno', 'acqic', 'mcc', 'ecfg', 'insfg', 'bnsfg', 
    'stocn', 'scity', 'stscd', 'ovrlt', 'flbmk', 'hcefg', 'csmcu', 'flg_3dsmk'
]

In [1042]:
# 處理訓練資料集的缺失值
train_dataset[categorical_columns] = train_dataset[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))
train_dataset = train_dataset.apply(lambda x: x.fillna(x.median()) if x.name not in categorical_columns else x)

# 處理測試資料集的缺失值
test_X[categorical_columns] = test_X[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))
test_X = test_X.apply(lambda x: x.fillna(x.median()) if x.name not in categorical_columns else x)

In [1043]:
# 檢查訓練資料集都補了什麼值
for column in train_dataset.columns:
    if column in categorical_columns:
        print(f'{column}: {train_dataset[column].mode()[0]}')
    elif column == 'label':
        pass
    else:
        print(f'{column}: {train_dataset[column].median()}')

txkey: 000a2dc5149581a7430344c50787790929351b15584e8e7437a60da8efffbdde
locdt: 27.0
loctm: 145253.0
chid: f200cd7e88bd814ad8bdf48c02216695ce72375f95873d63cd4bf724ad3e7a11
cano: f740c6359369dd973f53180fa50db3ca96d81c9054dad7086cad18d460daae97
contp: 5.0
etymd: 5.0
mchno: 45b6cb170af96950ffd009b6275bb22f5f5b052687d2379ecfa65f72b079a97c
acqic: 379166ff4a62dac343b4b734188aa618716cc496e48b6537868841c420f7212f
mcc: 320.0
conam: 492.97322244851273
ecfg: 1.0
insfg: 0.0
iterm: 0.0
bnsfg: 0.0
flam1: 494.3109540459793
stocn: 0.0
scity: 15759.0
stscd: 1.0
ovrlt: 0.0
flbmk: 0.0
hcefg: 6.0
csmcu: 70.0
csmam: 462.764802
flg_3dsmk: 0.0

In [1044]:
# 檢查測試資料集都補了什麼值
for column in test_X.columns:
    if column in categorical_columns:
        print(f'{column}: {test_X[column].mode()[0]}')
    else:
        print(f'{column}: {test_X[column].median()}')

txkey: 001dd2720395fae895b52b661bf5287e1fa3666f8911cd86f547dd5892c9ea34
locdt: 57.0
loctm: 150162.5
chid: e6c0b8b8e6b6c27df07fcef0e57ed8272d800d9daac1193a9f1115283c722247
cano: 44dc9d325ab470c2dd8d2c2c555ad49c3d0fb7c15c84501bad9d9eb4e10b4ca0
contp: 5.0
etymd: 5.0
mchno: 45b6cb170af96950ffd009b6275bb22f5f5b052687d2379ecfa65f72b079a97c
acqic: 379166ff4a62dac343b4b734188aa618716cc496e48b6537868841c420f7212f
mcc: 320.0
conam: 552.0130796298928
ecfg: 1.0
insfg: 0.0
iterm: 0.0
bnsfg: 0.0
flam1: 552.2188206590504
stocn: 0.0
scity: 15759.0
stscd: 1.0
ovrlt: 0.0
flbmk: 0.0
hcefg: 6.0
csmcu: 70.0
csmam: 451.2208463968926
flg_3dsmk: 0

### 補完後確認下

In [1045]:
train_dataset.isnull().sum()

txkey        0
locdt        0
loctm        0
chid         0
cano         0
contp        0
etymd        0
mchno        0
acqic        0
mcc          0
conam        0
ecfg         0
insfg        0
iterm        0
bnsfg        0
flam1        0
stocn        0
scity        0
stscd        0
ovrlt        0
flbmk        0
hcefg        0
csmcu        0
csmam        0
flg_3dsmk    0
label        0
dtype: int64

In [1046]:
test_X.isnull().sum()

txkey        0
locdt        0
loctm        0
chid         0
cano         0
contp        0
etymd        0
mchno        0
acqic        0
mcc          0
conam        0
ecfg         0
insfg        0
iterm        0
bnsfg        0
flam1        0
stocn        0
scity        0
stscd        0
ovrlt        0
flbmk        0
hcefg        0
csmcu        0
csmam        0
flg_3dsmk    0
dtype: int64

## 類別資料轉label encoding

In [1047]:
train_X = train_dataset.drop(columns=['label'])
train_Y = train_dataset['label']

In [1048]:
train_X[categorical_columns].dtypes

txkey         object
chid          object
cano          object
contp        float64
etymd        float64
mchno         object
acqic         object
mcc          float64
ecfg         float64
insfg        float64
bnsfg        float64
stocn        float64
scity        float64
stscd        float64
ovrlt        float64
flbmk        float64
hcefg        float64
csmcu        float64
flg_3dsmk    float64
dtype: object

In [1049]:
# 檢查類別資料的不相同數量
train_X[categorical_columns].nunique()

txkey        9317
chid         8998
cano         8985
contp           5
etymd           7
mchno        3571
acqic         339
mcc           182
ecfg            2
insfg           2
bnsfg           2
stocn          45
scity         446
stscd           2
ovrlt           2
flbmk           2
hcefg          10
csmcu          31
flg_3dsmk       2
dtype: int64

In [1050]:
test_X[categorical_columns].nunique()

txkey        1757
chid         1568
cano         1583
contp           4
etymd           8
mchno         806
acqic         168
mcc           122
ecfg            2
insfg           2
bnsfg           2
stocn          33
scity         239
stscd           1
ovrlt           2
flbmk           1
hcefg           9
csmcu          22
flg_3dsmk       2
dtype: int64

In [1051]:
dataset_X = pd.concat([train_X, test_X])

# 確定沒做/可能沒做 label encoding 的類別資料
not_encoded_columns = []
probably_not_encoded_columns = []

# 確認哪個類別資料還沒做label encoding
for column in categorical_columns:
    if dataset_X[column].dtype == 'object':
        not_encoded_columns.append(column)
    else:
        unique_values = dataset_X[column].nunique()

        (max_value, min_value) = (dataset_X[column].max(), dataset_X[column].min())
        expected_unique_values = int(max_value - min_value + 1)

        print(f'{column} (實際/預期): {unique_values}/{expected_unique_values}')
        if expected_unique_values == unique_values:
            pass
        else:
            probably_not_encoded_columns.append(column)


encoded_columns = list(set(categorical_columns) - set(not_encoded_columns) - set(probably_not_encoded_columns))
print(f'\n未做 label encoding 的類別資料: {not_encoded_columns}')
print(f'可能未做 label encoding 的類別資料: {probably_not_encoded_columns}')
print(f'已經做 label encoding 的類別資料: {encoded_columns}')

contp (實際/預期): 5/5
etymd (實際/預期): 8/10
mcc (實際/預期): 192/502
ecfg (實際/預期): 2/2
insfg (實際/預期): 2/2
bnsfg (實際/預期): 2/2
stocn (實際/預期): 50/135
scity (實際/預期): 563/17321
stscd (實際/預期): 2/2
ovrlt (實際/預期): 2/2
flbmk (實際/預期): 2/2
hcefg (實際/預期): 11/11
csmcu (實際/預期): 36/85
flg_3dsmk (實際/預期): 2/2

未做 label encoding 的類別資料: ['txkey', 'chid', 'cano', 'mchno', 'acqic']
可能未做 label encoding 的類別資料: ['etymd', 'mcc', 'stocn', 'scity', 'csmcu']
已經做 label encoding 的類別資料: ['stscd', 'contp', 'ovrlt', 'flg_3dsmk', 'insfg', 'ecfg', 'flbmk', 'hcefg', 'bnsfg']

In [1052]:
dataset_X[probably_not_encoded_columns].describe()

              etymd           mcc         stocn         scity         csmcu
count  13100.000000  13100.000000  13100.000000  13100.000000  13100.000000
mean       4.834809    319.370611     16.108626  14144.724351     69.346794
std        2.127627     62.894411     38.066637   3254.102095      5.972553
min        0.000000      0.000000      0.000000      9.000000      0.000000
25%        4.000000    276.000000      0.000000  13453.000000     70.000000
50%        5.000000    320.000000      0.000000  15759.000000     70.000000
75%        5.000000    324.000000      0.000000  15759.000000     70.000000
max        9.000000    501.000000    134.000000  17329.000000     84.000000

In [1053]:
dataset_X[encoded_columns].describe()

,stscd,contp,ovrlt,flg_3dsmk,insfg,ecfg,flbmk,hcefg,bnsfg
count,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000
mean,0.999847,4.926794,0.009847,0.068473,0.007023,0.674351,0.000076,5.484580,0.000687
std,0.012356,0.406151,0.098748,0.252566,0.083511,0.468635,0.008737,1.691125,0.026203
min,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000
50%,1.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,6.000000,0.000000
75%,1.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,6.000000,0.000000
max,1.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,1.000000

In [1054]:
# 對類別資料做 label encoding
# 匯入 LabelEncoder
from sklearn.preprocessing import LabelEncoder

# 創建 LabelEncoder
all_need_to_encoded_columns = list(set(not_encoded_columns) | set(probably_not_encoded_columns))
label_encoders = {column: LabelEncoder() for column in all_need_to_encoded_columns}

# 對類別資料做 label encoding
for column, label_encoder in label_encoders.items():
    dataset_X[column] = label_encoder.fit_transform(dataset_X[column])

In [1055]:
dataset_X[all_need_to_encoded_columns].describe()

,chid,csmcu,stocn,scity,etymd,mcc,mchno,cano,txkey,acqic
count,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000,13100.000000
mean,5944.246412,27.729237,6.134504,427.126870,4.404885,85.867557,1934.842214,5829.824962,4680.296718,158.479313
std,3235.500742,2.471157,14.526454,101.949221,1.573079,38.532631,1126.002805,3273.281021,3556.249715,96.152772
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3100.750000,28.000000,0.000000,405.000000,4.000000,56.000000,1070.000000,2892.000000,1248.750000,85.000000
50%,6186.500000,28.000000,0.000000,475.000000,5.000000,88.000000,1654.500000,5901.500000,4523.500000,103.000000
75%,9277.250000,28.000000,0.000000,475.000000,5.000000,92.000000,2998.250000,9018.250000,7798.250000,223.000000
max,10488.000000,35.000000,49.000000,562.000000,7.000000,191.000000,4048.000000,10497.000000,11073.000000,381.000000

In [1056]:
dataset_X.dtypes

txkey          int64
locdt        float64
loctm        float64
chid           int64
cano           int64
contp        float64
etymd          int64
mchno          int64
acqic          int64
mcc            int64
conam        float64
ecfg         float64
insfg        float64
iterm        float64
bnsfg        float64
flam1        float64
stocn          int64
scity          int64
stscd        float64
ovrlt        float64
flbmk        float64
hcefg        float64
csmcu          int64
csmam        float64
flg_3dsmk    float64
dtype: object

In [1057]:
# 所有資料都已經是數值型態
dataset_X.astype('float64')
dataset_X.dtypes

txkey          int64
locdt        float64
loctm        float64
chid           int64
cano           int64
contp        float64
etymd          int64
mchno          int64
acqic          int64
mcc            int64
conam        float64
ecfg         float64
insfg        float64
iterm        float64
bnsfg        float64
flam1        float64
stocn          int64
scity          int64
stscd        float64
ovrlt        float64
flbmk        float64
hcefg        float64
csmcu          int64
csmam        float64
flg_3dsmk    float64
dtype: object

In [1058]:
dataset_X.corr()

,txkey,locdt,loctm,chid,cano,contp,etymd,mchno,acqic,mcc,...,flam1,stocn,scity,stscd,ovrlt,flbmk,hcefg,csmcu,csmam,flg_3dsmk
txkey,1.000000,-0.006650,-0.007277,0.016186,-0.003042,0.016757,-0.013438,0.005865,-0.000484,0.015118,...,-0.011079,-0.008831,-0.002163,-0.018692,-0.013785,-0.011499,-0.002675,0.009708,0.001721,-0.006577
locdt,-0.006650,1.000000,-0.012471,-0.001811,-0.070432,0.012240,0.019403,-0.006895,0.046327,0.014307,...,0.016188,0.117361,0.017266,0.001060,0.005893,-0.010414,0.004803,-0.046021,0.020894,0.015993
loctm,-0.007277,-0.012471,1.000000,0.005810,0.006837,0.015614,0.032342,0.018560,-0.047406,-0.091816,...,-0.022949,-0.070335,0.020024,-0.003906,-0.008335,-0.007757,-0.036695,0.025551,-0.010335,0.026611
chid,0.016186,-0.001811,0.005810,1.000000,0.005593,0.004668,0.001287,-0.009287,-0.002017,-0.003020,...,0.008933,0.002246,-0.009537,-0.009410,-0.015707,0.010642,0.017242,-0.022265,0.013644,-0.008160
cano,-0.003042,-0.070432,0.006837,0.005593,1.000000,0.005669,0.000540,0.012128,-0.014739,-0.011644,...,-0.018714,-0.022729,0.007800,-0.001143,-0.011624,0.005788,0.006164,0.011682,-0.016888,0.002089
contp,0.016757,0.012240,0.015614,0.004668,0.005669,1.000000,0.235784,0.027332,-0.043574,0.002268,...,-0.005971,0.002743,-0.041545,-0.002227,0.000844,0.001575,-0.007034,0.019954,0.003273,0.046637
etymd,-0.013438,0.019403,0.032342,0.001287,0.000540,0.235784,1.000000,-0.006122,-0.015750,-0.144512,...,-0.014412,0.007599,-0.029928,-0.000747,-0.001588,0.014415,0.014744,0.035941,0.003752,0.125054
mchno,0.005865,-0.006895,0.018560,-0.009287,0.012128,0.027332,-0.006122,1.000000,0.035388,-0.068223,...,0.008019,-0.113553,-0.028515,-0.004479,-0.003411,-0.014603,-0.016563,-0.003180,-0.001180,-0.006929
acqic,-0.000484,0.046327,-0.047406,-0.002017,-0.014739,-0.043574,-0.015750,0.035388,1.000000,0.117838,...,-0.005345,0.254439,-0.143914,-0.001352,0.018052,-0.009131,0.018931,-0.011014,-0.012751,-0.006529
mcc,0.015118,0.014307,-0.091816,-0.003020,-0.011644,0.002268,-0.144512,-0.068223,0.117838,1.000000,...,-0.004696,0.092884,0.012725,0.008135,0.010836,0.002751,0.080517,0.024468,0.010917,-0.064459
conam,-0.011892,0.017067,-0.023273,0.009507,-0.020729,-0.004971,-0.013826,0.008204,-0.004256,-0.003984,...,0.991036,0.022921,-0.026302,-0.005060,0.117824,0.000083,-0.014375,-0.076069,0.608043,0.009578
ecfg,-0.012839,0.053136,-0.025864,0.005603,0.007595,0.152294,0.407002,0.045202,0.048855,-0.102901,...,-0.021034,0.180479,-0.191577,-0.008587,0.011562,-0.012573,0.113303,-0.013189,-0.007257,0.188406
insfg,0.000200,0.002066,0.014075,0.003222,-0.000907,-0.014101,-0.029782,-0.006966,-0.077067,-0.038073,...,0.030045,-0.035516,0.022662,0.001039,0.019385,-0.000735,0.017524,0.009215,0.004066,0.074924
iterm,-0.003286,-0.004658,0.011789,0.007761,0.003758,-0.002940,-0.016884,-0.007550,-0.063441,-0.031258,...,0.030157,-0.029340,0.013805,0.000858,0.004997,-0.000607,0.010730,0.007612,0.004585,0.065087
bnsfg,-0.005263,0.009567,0.026564,-0.008645,-0.003795,0.004726,0.013624,-0.002214,-0.022129,-0.019190,...,0.006626,-0.011073,0.012227,0.000324,-0.002615,-0.000229,0.014883,0.002873,0.000840,0.015962
flam1,-0.011079,0.016188,-0.022949,0.008933,-0.018714,-0.005971,-0.014412,0.008019,-0.005345,-0.004696,...,1.000000,0.022846,-0.028338,-0.005063,0.121690,-0.000047,-0.013216,-0.078615,0.604131,0.009747
stocn,-0.008831,0.117361,-0.070335,0.002246,-0.022729,0.002743,0.007599,-0.113553,0.254439,0.092884,...,0.022846,1.000000,-0.307666,0.005219,0.016586,-0.003690,0.000075,-0.068141,0.011576,-0.077086
scity,-0.002163,0.017266,0.020024,-0.009537,0.007800,-0.041545,-0.029928,-0.028515,-0.143914,0.012725,...,-0.028338,-0.307666,1.000000,0.004864,-0.053252,-0.013467,-0.021753,0.060959,0.009052,0.080986
stscd,-0.018692,0.001060,-0.003906,-0.009410,-0.001143,-0.002227,-0.000747,-0.004479,-0.001352,0.008135,...,-0.005063,0.005219,0.004864,1.000000,0.001232,0.000108,-0.003766,-0.001354,-0.000682,0.003350
ovrlt,-0.013785,0.005893,-0.008335,-0.015707,-0.011624,0.000844,-0.001588,-0.003411,0.018052,0.010836,...,0.121690,0.016586,-0.053252,0.001232,1.000000,-0.000871,-0.005719,-0.038190,0.056637,0.012755
flbmk,-0.011499,-0.010414,-0.007757,0.010642,0.005788,0.001575,0.014415,-0.014603,-0.009131,0.002751,...,-0.000047,-0.003690,-0.013467,0.000108,-0.000871,1.000000,0.002663,0.000957,-0.000159,-0.002369
hcefg,-0.002675,0.004803,-0.036695,0.017242,0.006164,-0.007034,0.014744,-0.016563,0.018931,0.080517,...,-0.013216,0.000075,-0.021753,-0.003766,-0.005719,0.002663,1.000000,-0.018600,-0.011266,-0.051417
csmcu,0.009708,-0.046021,0.025551,-0.022265,0.011682,0.019954,0.035941,-0.003180,-0.011014,0.024468,...,-0.078615,-0.068141,0.060959,-0.001354,-0.038190,0.000957,-0.018600,1.000000,-0.086199,0.010749
csmam,0.001721,0.020894,-0.010335,0.013644,-0.016888,0.003273,0.003752,-0.001180,-0.012751,0.010917,...,0.604131,0.011576,0.009052,-0.000682,0.056637,-0.000159,-0.011266,-0.086199,1.000000,-0.003840
flg_3dsmk,-0.006577,0.015993,0.026611,-0.008160,0.002089,0.046637,0.125054,-0.006929,-0.006529,-0.064459,...,0.009747,-0.077086,0.080986,0.003350,0.012755,-0.002369,-0.051417,0.010749,-0.003840,1.000000

## 拆分為訓練測試集

In [1059]:
# 將資料集分回訓練集與測試集
train_X = dataset_X.iloc[:len(train_X)]
test_X = dataset_X.iloc[len(train_X):]

In [1060]:
# 驗證資料集的維度
print(train_X.shape)
print(train_Y.shape)
print(test_X.shape)

(11000, 25)
(11000,)
(2100, 25)

## 對數值類資料做正規化

In [1061]:
# 找出數值型態的欄位
numeric_columns = list(set(train_X.columns) - set(categorical_columns))

In [1062]:
train_X[numeric_columns].describe()

,iterm,csmam,locdt,flam1,conam,loctm
count,11000.000000,1.100000e+04,11000.000000,11000.000000,11000.000000,11000.000000
mean,0.043364,2.605867e+03,27.163545,1832.803180,1728.782977,142610.425909
std,0.611904,3.124635e+04,14.941437,10263.471098,9971.793250,51334.108251
min,0.000000,-7.057447e+02,0.000000,-513.187784,-566.104082,16.000000
25%,0.000000,2.397810e+02,15.000000,259.328587,260.085590,112334.500000
50%,0.000000,4.627648e+02,27.000000,494.310954,492.973222,145253.000000
75%,0.000000,9.213795e+02,39.000000,973.585765,949.295797,181150.250000
max,30.000000,2.199204e+06,55.000000,577678.552433,578267.806691,235959.000000

In [1063]:
test_X[numeric_columns].describe()

,iterm,csmam,locdt,flam1,conam,loctm
count,2100.000000,2.100000e+03,2100.000000,2.100000e+03,2.100000e+03,2100.000000
mean,0.025714,1.551672e+04,57.411905,3.584892e+03,3.608446e+03,141379.287619
std,0.402831,3.175641e+05,1.033665,5.672227e+04,5.662895e+04,57974.596155
min,0.000000,-4.915870e+02,56.000000,-4.846197e+02,-4.522303e+02,11.000000
25%,0.000000,2.146869e+02,57.000000,2.599410e+02,2.513724e+02,105074.500000
50%,0.000000,4.512208e+02,57.000000,5.522188e+02,5.520131e+02,150162.500000
75%,0.000000,1.203312e+03,58.000000,1.330488e+03,1.387087e+03,184072.500000
max,12.000000,9.655214e+06,59.000000,2.560901e+06,2.556027e+06,235955.000000

In [1064]:
from sklearn.preprocessing import StandardScaler

# 創建 StandardScaler
scaler = StandardScaler()

# 在訓練集上計算正規化參數 (numpy array)
train_X_scaled = scaler.fit_transform(train_X[numeric_columns])

# 使用訓練集的正規化參數對測試集進行正規化 (numpy array)
test_X_scaled = scaler.transform(test_X[numeric_columns])

# 將正規化後的資料轉換回 DataFrame
train_X.loc[:, numeric_columns] = train_X_scaled
test_X.loc[:, numeric_columns] = test_X_scaled

In [1065]:
train_X[numeric_columns].describe()

,iterm,csmam,locdt,flam1,conam,loctm
count,1.100000e+04,1.100000e+04,1.100000e+04,1.100000e+04,1.100000e+04,1.100000e+04
mean,-7.751375e-18,2.583792e-18,1.253139e-16,1.937844e-18,2.906766e-18,1.020598e-16
std,1.000045e+00,1.000045e+00,1.000045e+00,1.000045e+00,1.000045e+00,1.000045e+00
min,-7.086997e-02,-1.059887e-01,-1.818083e+00,-2.285871e-01,-2.301483e-01,-2.777898e+00
25%,-7.086997e-02,-7.572702e-02,-8.141184e-01,-1.533152e-01,-1.472919e-01,-5.898087e-01
50%,-7.086997e-02,-6.859038e-02,-1.094626e-02,-1.304191e-01,-1.239362e-01,5.148028e-02
75%,-7.086997e-02,-5.391233e-02,7.922258e-01,-8.371987e-02,-7.817276e-02,7.507986e-01
max,4.895867e+01,7.030254e+01,1.863122e+00,5.610889e+01,5.781961e+01,1.818534e+00

In [1066]:
test_X[numeric_columns].describe()

,iterm,csmam,locdt,flam1,conam,loctm
count,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000
mean,-0.028845,0.413214,2.024553,0.170719,0.188507,-0.023984
std,0.658355,10.163701,0.069184,5.526868,5.679172,1.129410
min,-0.070870,-0.099135,1.930053,-0.225804,-0.218728,-2.777995
25%,-0.070870,-0.076530,1.996984,-0.153256,-0.148166,-0.731242
50%,-0.070870,-0.068960,1.996984,-0.124777,-0.118015,0.147123
75%,-0.070870,-0.044889,2.063915,-0.048944,-0.034268,0.807727
max,19.540945,308.933548,2.130846,249.348828,256.163988,1.818456

## 處理imbalanced 問題

### 資料 imbalanced 情況確認